@font-face {
    font-family: blocky;
    src: url(../fonts/blocky.ttf);
}

body {
    margin: 0;
    background: url('../background.jpg') no-repeat center center fixed;
    background-size: cover;
   
}

.app {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding: 50px;
    text-align: center;
}

.app .logo {
    height: 400px;
}

.app h1 {
    letter-spacing: 5px;
}

.rotate {
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
